alembic==1.9.0
asyncpg==0.27.0
envparse==0.2.0
fastapi==0.88.0
httpx==0.23.3
pre-commit==2.21.0
psycopg2-binary==2.9.5
pydantic[email]
pytest==7.2.0
pytest-asyncio==0.20.3
SQLAlchemy==1.4.45
uvicorn==0.20.0
